[tool.poetry]
name = "trajectopy"
version = "1.1.1"
description = "Trajectory Evaluation in Python"
authors = ["Gereon Tombrink <tombrink@igg.uni-bonn.de>"]
maintainers = ["Gereon Tombrink <tombrink@igg.uni-bonn.de>"]
license = "GPLv3"
keywords = ["trajectory", "evaluation", "alignment", "similarity", "leverarm", "epsg", "robotics"]
readme = "README.md"
homepage = "https://github.com/gereon-t/trajectopy"
repository = "https://github.com/gereon-t/trajectopy.git"
packages = [
    { include = "trajectopy" },
]

[tool.poetry.dependencies]
python = ">=3.8.2,<3.12"
trajectopy-core = ">=1.1.2"
PyQt6 = ">=6.5.2"
PyQt6-Qt6 = ">=6.5.2"
PyQt6-sip = ">=13.5.2"
rich = "^13.5.3"
matplotlib = "^3.7.3"

[tool.poetry.scripts]
trajectopy = "trajectopy.__main__:main"

[tool.poetry.group.dev.dependencies]
mypy = "^1.5.1"
black = "^23.9.1"

[tool.isort]
profile = "black"
line_length = 119

[tool.black]
line-length = 119